* {
    background-color: black;
    color: #149911;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

.birthday {
    margin-left: 25px;
    margin-bottom: 50px;
}

.display {
background-color: black;
margin-left: 50px;
}

.card-int {
    padding: 10px;
}
